.footer__link {
  margin: 0;
  text-decoration: none;
  font-family: Nunito-reg;
  font-size: 14px;
  color: #8D8D8D;
  transition: all 0.5s linear;
}

.footer__link:hover {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  background-color: #222222;
  color: white;
}


