.categories__card_back_blue {
  width: 280px;
  height: 400px;
  background: #A8DCEC;
  border-top-right-radius: 35%;
  border-bottom-left-radius: 35%;
  transition: all 0.8s linear;
}

.categories__card_back_blue:hover {
  background: #A8DCEC;
  border-radius: 15px;
}

