.categories__card {
  width: 280px;
  height: 400px;
  background: #F9BDBD;
  border-top-right-radius: 35%;
  border-bottom-left-radius: 35%;
  transition: all 0.8s linear;
}

.categories__card:hover {
  background: #F9BDBD;
  border-radius: 15px;
}
