.about {
  min-height: 950px;
  margin-top: 120px;
  background: url(../../images/about/Script-Online-Ado-Beech-Steel-Spoon-Set-Of-3-52151704SD00001-PDP-Gallery-D-01\ 1.svg) bottom right no-repeat,
              url(../../images/about/Group\ 21.svg) 100px 125px no-repeat;
}
